.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex: 1;
  padding-top: 48px; /* Height of the header */
}

.app-content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  margin-left: 250px; /* Match the width of topics-menu */
}

.app-content h2 {
  color: #2c3e50;
  margin-bottom: 1rem;
}
